body {
  margin: 0;
  overflow: hidden;
}

p {
  color: #333;
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: 'Open Sans', sans-serif;
}

/* Styling the buttons */
.buttonArea {
  position: relative;
  top: 30%;
  left: 40%;
}

.buttonArea > * {
  cursor: pointer;
  padding:10px 30px;
  background-color:rgb(17, 0, 255);
  color: white;
  font-weight: bold;
  border-radius: 5px; 
}

/* The text that appears when the buttons are clicked */
.selected{
  position: relative;
  text-align: center;
  top: 50px; 
    /*TODO when done, change back to hidden*/
  visibility: visible;
}